@import '~bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.scss";

$stdFontSize: 0.8em;
$appFontSize: 1.75em;

html {
  background-color: black;
  color: white;
  font-size: $stdFontSize;
}

label {
  color: white;
}


p {
  font-size: $stdFontSize;
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-buttons {
    background-color: #181c24;
    min-height: 2vh;
    align-items: left;
    justify-content: left;
    font-size: $stdFontSize;
    color: white;
}

.App-text {
    background-color: #181c24;
    min-height: 10vh;
    align-items: left;
    justify-content: left;
    font-size: $appFontSize;
    color: white;
    margin: 1em 1em 1em 1em;
}

.offcanvas-body {
  background-color: #303030;
  color: white;
}

.offcanvas-header {
  background-color: #303030;
  color: white;
}

.blackmodal {
  background-color: #303030;
  color: white;
}

.heading {
  clear: both;
  background-color: darkgray;
}

.editor {
    background-color: grey;
}

.form-control {
    background-color: grey;
}

.form-control:not(active){
  color:white;
}

.form-control:focus{
  color:black;
}

.form-label {
  font-size: $stdFontSize;
}